body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #297fb8;
}

button:active {
    background-color: #255c7f;
}